<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>Biblioteca Egg - libro lista</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Libro lista</h1>
        
                <div>
            <table>
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Titulo</th>
                        <th>Ejemplares</th>
                        <th>Autor</th>
                        <th>Editorial</th>
                    </tr>
                </thead>
                <!------------------------------------------->
                <tbody th:each="libro : ${libros}">
                    <tr>
                        <th th:text="${libro.isbn}"></th>
                        <td th:text="${libro.titulo}"></td>
                        <td th:text="${libro.ejemplares}"></td>
                        <td th:text="${libro.autor.nombre}"></td>
                        <td th:text="${libro.editorial.nombre}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </body>
</html>
